body {
	height: 100vh;

}

body .container-fluid {
	height: 100%;
	display: flex;
    flex-direction: column;
}

#messages {
	overflow-y: scroll;
	border: 1.5px solid #d4adad;
	border-radius: 4px;
}

form .input-group {
	margin-bottom: 20px;
}
